body {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
}

.navbar{
	border:0;
}
.navbar-inverse{
	border-color: #336699;
}

.navbar-inverse .navbar-toggle{
	border-color: #336699;
}
.navbar-inverse .navbar-toggle:hover{
	border-color: #336699;
	opacity: 0.5;
}
.navbar-inverse .navbar-toggle:focus{
	border-color: #336699;
	opacity: 0.5;
}
.navbar-inverse .navbar-collapse{
	border-color: #336699;
}


.pm-nav{
	background-color: #336699;
}



.pm-nav .navbar-header .navbar-brand,.pm-nav .navbar-header .navbar-brand:hover{
	color: white;
}


.pm-nav .navbar-nav>li{
	background-color: #336699;
}
.pm-nav .navbar-nav>li:hover{
	background-color: white;
}


.pm-nav .navbar-nav>li>a{
	color: white;
}
.pm-nav .navbar-nav>li>a:hover{
	color: #336699;
}

.pm-nav .navbar-nav>.active>a, .pm-nav .navbar-nav>.active>a:hover{
	color: #336699;
	background-color: white;
}

.mt20{
	margin-top:20px;
}

.pd10{
	padding:10px;
}

.thumbnail > img {
	width: 200px;
}